
<div class="container m-5">
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h1 >Incredible !!!!!! </h1>
      <h5> the famous <strong><%= @cocktail.name %></strong> was waiting for you ! </h5>
      <div class='m-3'>
        <%= link_to 'Discover the recipe', cocktail_doses_path(@cocktail), class: 'btn btn-success' %>
      </div>
      <div class='m-3'>
        <%= link_to 'Back to all cocktails', cocktails_path, class: 'btn btn-primary'  %>
      </div>
    </div>
  </div>
</div>

